*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.titolo{
    color: #e53170;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.contenitore{
    background-color:aqua;
    width: 60%;
    margin: auto;
}

p{
    text-align: center;
}

